<template name="manageUsersForm">
    <form class="form-horizontal ">
        <fieldset>
            <input type="hidden" name="_id" id="_id">

            <div class="well">
                <div class="form-group">
                    <label for="email" class="col-lg-4 control-label">E-mail:</label>
                    <div class="col-lg-4">
                        <input type="text" name="email" id="email" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">Senha:</label>
                    <div class="col-lg-4">
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="name" class="col-lg-4 control-label">Nome Completo:</label>
                <div class="col-lg-4">
                    <input type="text" name="name" id="name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="col-lg-4 control-label">Telefone:</label>
                <div class="col-lg-4">
                    <input type="text" name="phone" id="phone" class="form-control phone">
                </div>
            </div>

            <div class="form-group">
                <label for="dateOfBirth" class="col-lg-4 control-label">Data de Nascimento:</label>
                <div class="col-lg-4">
                    <input type="date" name="dateOfBirth" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="role" class="col-lg-4 control-label">Papel:</label>
                <div class="col-lg-4">
                    <div class="checkbox">
                        <label>
                            <label> <input type="radio" value="admin" name="role"> Administrador</label>
                            <label> <input type="radio" value="manage" name="role"> Gerente</label>
                            <label> <input type="radio" value="client" name="role"> Cliente</label>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="gender" class="col-lg-4 control-label">Genero:</label>
                <div class="col-lg-4">
                    <div class="checkbox">
                        <label>
                            <label> <input type="radio" value="male" name="gender"> Masculino</label>
                            <label> <input type="radio" value="female" name="gender"> Feminino</label>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12" align="center">
                    <button class="btn btn-success">Salvar</button>
                </div>
            </div>
        </fieldset>
    </form>
</template>