<template name="manageUsers">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">

                <div class="panel">

                    {{#if Template.subscriptionsReady}}
                        {{>manageUsersForm}}
                        {{>userList}}
                    {{else}}
                        Loading...
                    {{/if}}

                </div>

            </div>
        </div>
    </div>
</template>
