<template name="userList">
    <div class="table-responsive">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Papel</th>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
                <tr>
                    <td width="81px">
                        <button class="btn-del-user" name="btn-del-user"><i class="fa fa-times"></i></button>
                        <button class="btn-edit-user" name="btn-edit-user"><i class="fa fa-edit"></i></button>
                    </td>
                    <td>{{profile.name}}</td>
                    <td>{{email}}</td>
                    <td>{{roles}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>
