<template name="dishForm">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <fieldset>
                    <input type="hidden" name="_id" id="_id" value="{{_id}}">

                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Nome:</label>
                        <div class="col-sm-4">
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-4 control-label">Descrição:</label>
                        <div class="col-sm-4">
                            <textarea rows="2" cols="5" name="description" id="description" class="form-control">{{description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-sm-4 control-label">Categoria:</label>
                        <div class="col-sm-4">
                            <select name="category" id="category" class="form-control">
                                <option value="">Selecione</option>
                                {{#each categories}}
                                    <option value="{{identifier}}">{{name}}</option>
                                {{/each}}2
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-4 control-label">Quantidade:</label>
                        <div class="col-sm-4">
                            <input type="number" name="amount" id="amount" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="unit" class="col-sm-4 control-label">Unidade:</label>
                        <div class="col-sm-4">
                            <select name="unit" id="unit" class="form-control">
                                <option value="">selecione</option>
                                <option value="ml">ml</option>
                                <option value="kg">kg</option>
                                <option value="l">l</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Preço:</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"> R$ </span>
                                <input type="text" name="price" id="price" class="form-control money">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" align="center">
                            <button class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>