<template name="landingpage">


    <!-- ********** WHITE SECTION ********** -->
    <div class="container">
        <div class="row mtb centered">
            <h3>Sobre a Nutrirbox.</h3>
            <hr class="aligncenter mb">

            <div class="col-md-3">
                <i class="ion-android-restaurant og"></i>
                <h5>DELIVERY DE REFEIÇÕES QUENTES</h5>
                <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt.</p>
            </div>

            <div class="col-md-3">
                <i class="ion-android-calendar og"></i>
                <h5>REFEIÇÕES CONGELADAS</h5>
                <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt.</p>
            </div>

            <div class="col-md-3">
                <i class="ion-android-contacts og"></i>
                <h5>LANCHE ESCOLA PARA CRIANÇAS</h5>
                <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt.</p>
            </div>

            <div class="col-md-3">
                <i class="ion-android-favorite og"></i>
                <h5>PLANEJADAS POR NOSSA NUTRICIONISTA</h5>
                <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt.</p>
            </div>




        </div><!--/row -->
    </div><!--/container -->


    <!-- ********** PARALLAX SEPARATOR SECTION ********** -->
    <div class="sep s01" data-stellar-background-ratio="0.2"></div>


    <!-- ********** MEET THE CHEFS SECTION ********** -->
    <div class="container">
        <div class="row mtb">
            <h3 class="centered">Conheça nossa Nutricionista e Gastrônoma</h3>
            <hr class="aligncenter mb">
            <div class="col-md-2 col-sm-2">
                <div class="tabbable">
                    <ul class="nav nav-stacked" id="myTab">
                        <li class="active"><a href="#tab1">Andressa de Araújo Moura</a></li>
                    </ul> <!-- /tabs -->
                </div><!-- /tabbable -->
            </div><!--/col-md-2 -->

            <div class="col-md-10 col-sm-10">
                <div class="tab-content">

                    <div class="tab-pane active" id="tab1">
                        <!-- FIRST PROFILE -->
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <h4><b>Dr Andressa Moura</b></h4>
                                <h6>NUTRICIONISTA/GASTRONOMA</h6>
                                <p class="rating">
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                </p>
                                <br>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book.</p>
                                <p>It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <img class="img-responsive aligncenter" src="/image/chef01.png" alt="">
                            </div>
                        </div><!-- /row -->
                    </div><!-- /tab-pane -->

                </div><!--/tab-content -->
            </div><!--/col-md-10 -->
        </div><!--/row -->
    </div><!--/container -->


    <!-- ********** PARALLAX SEPARATOR SECTION ********** -->
    <div class="sep s02" data-stellar-background-ratio="0.5"></div>

    <!-- ********** MENU SLIDER SECTION ********** -->
    <div class="container">
        <div class="row mtb">
            <h3 class="centered">MENU - REFEIÇÕES QUENTES</h3>
            <hr class="aligncenter mb">
            <p class="text-p centered">Lorem Ipsum has been the industry's standard dummy text ever </p>

            <div class="col-md-10 col-md-offset-1">
                <div id="owl-demo" class="owl-carousel owl-theme">

                    <div class="item"><img src="/image/food/1.png" alt="The Last of us"></div>
                    <div class="item"><img src="/image/food/2.png" alt="GTA V"></div>
                    <div class="item"><img src="/image/food/3.png" alt="Mirror Edge"></div>

                </div>
            </div><!--/col-md-10 -->
        </div><!--/row -->
    </div><!--/container -->

    <!-- ********** MENU SLIDER SECTION ********** -->
    <div class="container">
        <div class="row mtb">
            <h3 class="centered">MENU - REFEIÇÕES PARA CONGELAR</h3>
            <hr class="aligncenter mb">
            <p class="text-p centered">Lorem Ipsum has been the industry's standard dummy text ever </p>

            <div class="col-md-10 col-md-offset-1">
                <div id="owl-demo" class="owl-carousel owl-theme">

                    <div class="item"><img src="/image/food/1.png" alt="The Last of us"></div>
                    <div class="item"><img src="/image/food/2.png" alt="GTA V"></div>
                    <div class="item"><img src="/image/food/3.png" alt="Mirror Edge"></div>

                </div>
            </div><!--/col-md-10 -->
        </div><!--/row -->
    </div><!--/container -->

    <!-- MODAL DEMO FOR A MENU ITEM -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title" id="myModalLabel">Skillet Poached Eggs</h5>
                </div>
                <div class="modal-body">
                    <img class="img-responsive aligncenter" src="/image/modalbg.jpg" alt="">
                    <h4>Poached Eggs</h4>
                    <p class="text-p">It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout.</p>
                    <p class="text-p">The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                        of letters, as opposed to using 'Content here, content here', making it look like readable
                        English.</p>
                    <h5>Price..........$29</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!--/modal-dialog -->
    </div><!-- /modal -->


    <!-- ********** PARALLAX SEPARATOR SECTION ********** -->
    <div class="sep s03" data-stellar-background-ratio="0.5"></div>


    <!-- ********** PHONE USER SECTION ********** -->
    <div class="container">
        <div class="row mt">
            <div class="col-md-7 col-md-offset-1">
                <h3>Refeições Naturais</h3>
                <hr class="mb">
                <p class="text-p">Com a correria do dia a dia, praticidade é a palavra de lei. Muitas vezes, deixa-se de
                    lado as opções de refeições mais saudáveis, e as “comidinhas rápidas” – as famosas fast foods –
                    acabam ganhando a vez. Isto se torna alarmante, pois normalmente os nutrientes contidos neste tipo
                    de comida não são o suficiente para manter a saúde em dia e as calorias podem extrapolar os
                    limites.</p>
                <p class="text-p">As refeições naturais da Nutrirbox, não só considera à necessidade de manter o peso
                    ideal, como também evitar alimentos que são prejudiciais à saúde.</p>
                <p class="text-p">Ao adquirir as nossas refeições você estará obtendo mais saúde através da reeducação alimentar. Portanto, nossa empresa preparou o melhor para você e sua família faça sua assinatura e seja saudável!</p>
                <p class="down">
                    <i class="ion-social-apple"></i>
                    <i class="ion-social-android"></i>
                </p>
            </div>

            <div class="col-md-3">
                <img src="/image/phone.png" class="aligncenter" width="240" alt="">
            </div>

        </div><!--/row -->
    </div><!--/container -->


</template>
