<template name="mainnav">

    <nav id="mainnav-container">
        <div id="mainnav">

            <div id="mainnav-menu-wrap">
                <div class="nano">
                    <div class="nano-content">

                        <div id="mainnav-profile" class="mainnav-profile">
                            <div class="profile-wrap">
                                <div class="pad-btm">
                                    <img class="img-circle img-sm img-border" src="/img/profile-photos/1.png" alt="Profile Picture">
                                </div>
                                <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
                                    <p class="mnp-name">{{currentUser.profile.name.first}} {{currentUser.profile.name.last}}</p>
                                    <span class="mnp-desc">{{currentUser.emails.[0].address}}</span>
                                </a>
                            </div>
                            <div id="profile-nav" class="collapse list-group bg-trans">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-user"></i> Visualizar Perfil
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-cogs"></i> Configurações
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-life-ring"></i> Ajuda
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-sign-out"></i> Sair
                                </a>
                            </div>
                        </div>

                        <div id="mainnav-shortcut">
                            <ul class="list-unstyled">
                                <li class="col-xs-3" data-content="My Profile">
                                    <a class="shortcut-grid" href="#">
                                        <i class="fa fa-user"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3" data-content="Messages">
                                    <a class="shortcut-grid" href="#">
                                        <i class="fa fa-cogs"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3" data-content="Activity">
                                    <a class="shortcut-grid" href="#">
                                        <i class="fa fa-cutlery"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3" data-content="Lock Screen">
                                    <a class="shortcut-grid" href="#">
                                        <i class="fa fa-sign-out"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <ul id="mainnav-menu" class="list-group">
                            <li class="list-th"></li>
                            <li class="active-link">
                                <a href="#">
                                    <i class="fa fa-th-large"></i>
                                    <span class="menu-title">INICIO</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <li class="list-header">Usuário</li>
                            <li class="active-link">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <li class="list-header">Pedido</li>
                            <li class="active-sub">
                                <a href="#">
                                    <i class="fa fa-cutlery"></i>
                                    <span class="menu-title">Faça seu Pedido</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <li class="list-header">Administrador</li>
                            <li class="active-sub">
                                <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span class="menu-title">Controle de Usuários</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-cutlery"></i>
                                    <span class="menu-title">Controle de Pratos</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-flag"></i>
                                    <span class="menu-title">Controle de Assinaturas</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
