<template name="mainnav">

    <nav id="mainnav-container">
        <div id="mainnav">

            <div id="mainnav-shortcut">
                <!--<ul class="list-unstyled">-->
                <!--<li data-content="Shortcut 1" class="col-xs-4" data-original-title="" title="">-->
                <!--<a href="#" class="shortcut-grid">-->
                <!--<i class="fa fa-car"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>

            <div id="mainnav-menu-wrap">
                <div class="nano">
                    <div class="nano-content">
                        <ul id="mainnav-menu" class="list-group">
                            <li class="list-th"></li>
                            <li class="active-link">
                                <a href="#">
                                    <i class="fa fa-th-large"></i>
                                    <span class="menu-title">INICIO</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <li class="list-header">Usuário</li>
                            <li class="active-link">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <li class="list-header">Pedido</li>
                            <li class="active-sub">
                                <a href="#">
                                    <i class="fa fa-cutlery"></i>
                                    <span class="menu-title">Faça seu Pedido</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <li class="list-header">Administrador</li>
                            <li class="active-sub">
                                <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span class="menu-title">Controle de Usuários</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-cutlery"></i>
                                    <span class="menu-title">Controle de Pratos</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-flag"></i>
                                    <span class="menu-title">Controle de Assinaturas</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
