<template name="mainnav">

    <nav id="mainnav-container">
        <div id="mainnav">

            <!--Shortcut buttons-->
            <!--================================-->
            <div id="mainnav-shortcut">
                <ul class="list-unstyled">
                    <li class="col-xs-4" data-content="Shortcut 1">
                        <a class="shortcut-grid" href="#">
                            <i class="fa fa-car"></i>
                        </a>
                    </li>
                    <li class="col-xs-4" data-content="Shortcut 2">
                        <a class="shortcut-grid" href="#">
                            <i class="fa fa-taxi"></i>
                        </a>
                    </li>
                    <li class="col-xs-4" data-content="Shortcut 3">
                        <a class="shortcut-grid" href="#">
                            <i class="fa fa-bus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--================================-->
            <!--End shortcut buttons-->


            <!--Menu-->
            <!--================================-->
            <div id="mainnav-menu-wrap">
                <div class="nano">
                    <div class="nano-content">
                        <ul id="mainnav-menu" class="list-group">

                            <!--Category name-->
                            <li class="list-header">Link List</li>

                            <!--Menu list item-->
                            <li class="active-link">
                                <a href="#">
                                    <i class="fa fa-plane"></i>
                                    <span class="menu-title">Active state</span>
                                </a>
                            </li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>Bolder</strong>
											</span>
                                </a>
                            </li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-tag"></i>
											<span class="menu-title">
												With label
												<span class="label label-success pull-right">New</span>
											</span>
                                </a>
                            </li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-rocket"></i>
											<span class="menu-title">
												With badge
												<span class="pull-right badge badge-purple">7</span>
											</span>
                                </a>
                            </li>

                            <li class="list-divider"></li>

                            <!--Category name-->
                            <li class="list-header">Submenus</li>

                            <!--Menu list item-->
                            <li class="active-sub">
                                <a href="#">
                                    <i class="fa fa-th"></i>
                                    <span class="menu-title">Active State</span>
                                    <i class="arrow"></i>
                                </a>

                                <!--Submenu-->
                                <ul class="collapse in">
                                    <li><a href="#">Link</a></li>
                                    <li class="active-link"><a href="#">Active link</a></li>
                                    <li><a href="#">Another link</a></li>
                                    <li><a href="#">Some else here</a></li>
                                    <li class="list-divider"></li>
                                    <li><a href="#">Separate link</a></li>

                                </ul>
                            </li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-taxi"></i>
											<span class="menu-title">
												<strong>Bolder</strong>
											</span>
                                    <i class="arrow"></i>
                                </a>

                                <!--Submenu-->
                                <ul class="collapse">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Another link</a></li>
                                    <li><a href="#">Some else here</a></li>
                                    <li class="list-divider"></li>
                                    <li><a href="#">Separate link</a></li>

                                </ul>
                            </li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-road"></i>
											<span class="menu-title">
												With label
												<span class="label label-danger pull-right">Hot</span>
											</span>
                                </a>

                                <!--Submenu-->
                                <ul class="collapse">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Another link</a></li>
                                    <li><a href="#">Some else here</a></li>
                                    <li class="list-divider"></li>
                                    <li><a href="#">Separate link</a></li>

                                </ul>
                            </li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-plug"></i>
											<span class="menu-title">
												With badge
												<span class="pull-right badge badge-success">3</span>
											</span>
                                </a>

                                <!--Submenu-->
                                <ul class="collapse">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Another link</a></li>
                                    <li><a href="#">Some else here</a></li>
                                    <li class="list-divider"></li>
                                    <li><a href="#">Separate link</a></li>

                                </ul>
                            </li>

                            <li class="list-divider"></li>

                            <!--Category name-->
                            <li class="list-header">Multi level</li>

                            <!--Menu list item-->
                            <li>
                                <a href="#">
                                    <i class="fa fa-plus-square"></i>
                                    <span class="menu-title">Menu Level</span>
                                    <i class="fa arrow"></i>
                                </a>

                                <!--Submenu-->
                                <ul class="collapse">
                                    <li><a href="#">Second Level Item</a></li>
                                    <li><a href="#">Second Level Item</a></li>
                                    <li><a href="#">Second Level Item</a></li>
                                    <li class="list-divider"></li>
                                    <li>
                                        <a href="#">Third Level<i class="arrow"></i></a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Third Level Item</a></li>
                                            <li><a href="#">Third Level Item</a></li>
                                            <li><a href="#">Third Level Item</a></li>
                                            <li><a href="#">Third Level Item</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Third Level<i class="arrow"></i></a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Third Level Item</a></li>
                                            <li><a href="#">Third Level Item</a></li>
                                            <li><a href="#">Third Level Item</a></li>
                                            <li class="list-divider"></li>
                                            <li><a href="#">Third Level Item</a></li>
                                            <li><a href="#">Third Level Item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>


                        <!--Widget-->
                        <!--================================-->
                        <div class="mainnav-widget">

                            <!-- Show the button on collapsed navigation -->
                            <div class="show-small">
                                <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                                    <i class="fa fa-desktop"></i>
                                </a>
                            </div>

                            <!-- Hide the content on collapsed navigation -->
                            <div id="demo-wg-server" class="hide-small mainnav-widget-content">
                                <ul class="list-group">
                                    <li class="list-header pad-no pad-ver">Widget on Navigation Menu</li>
                                    <li class="mar-btm">
                                        <span class="label label-primary pull-right">15%</span>
                                        <p>CPU Usage</p>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-primary" style="width: 15%;">
                                                <span class="sr-only">15%</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <span class="label label-purple pull-right">75%</span>
                                        <p>Bandwidth</p>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-purple" style="width: 75%;">
                                                <span class="sr-only">75%</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="pad-ver"><a href="#" class="btn btn-success btn-bock">View Details</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--================================-->
                        <!--End widget-->

                    </div>
                </div>
            </div>
            <!--================================-->
            <!--End menu-->

        </div>
    </nav>
</template>
