<template name="headerLandingpage">

    <div id="h">
        <div class="container">
            <div class="row">
                <div class="col-md-6 welcome">
                    <h1>BEM VINDO A NUTRIRBOX</h1>
                    <h2>Alimentação saudável é AQUI!.</h2>
                    <hr class="aligncenter">
                    <p> Temos disponível opções de carnes magras, legumes, grãos integrais, saladas, sanduíches e sucos
                        naturais.
                        <br/>
                        Entrega em Valparaíso.
                    </p>
                    <button class='btn btn-lg btn-danger subscribe-submit' type="submit">Refeições Quentes</button>
                    <button class='btn btn-lg btn-info subscribe-submit' type="submit">Refeições Para Congelar</button>
                </div>
            </div>
        </div>
    </div>

</template>
