<template name="promoLandingpage">

    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Bem Vindo ao Nutrirbox</h2>
                    <ul class="summary">
                        <li>Entrega de Alimentação Saudável</li>
                        <li>Entregas em Valparaíso - GO</li>
                        <li>Refeições montadas por nossa Nutricionista e Gastronoma</li>
                        <li>Nutrirbox: Alimentação saudável é AQUI!</li>
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <li class="ios-btn"><a href="#">Download do nosso App na Play Store</a></li>
                            <li class="android-btn"><a href="#">Download do Google Play</a></li>
                        </ul>
                        <div class="note text-center">
                            <p>Faça o download do nosso App<br /> E faça seu pedido</p>
                            <span class="left-arrow"></span>
                            <span class="right-arrow"></span>
                        </div>
                    </div>
                </div>

                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>
